.radio-button {
    accent-color: #72195a;
}

.radio-menu {
    background-color: #daddd8;
    border-radius: 3%;
    border: 1px solid #00241b;
    border-top: 3px solid #00241b;
    padding: 5px;
    margin: 0 0 15px;
    width: 180px;
}