html {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("87d1bf74-thumb_30996_point_of_interest_bigger.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    margin: 0% 20%;
    min-height: 100vh;
    background-color: #bacba9;
    border-left: solid #00241b;
    border-right: solid #00241b;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #00241b;
    padding: 20px 0px 0px;
}

h1 {
    margin: 10px 0 18px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #daddd8;
}

a:hover {
    color: #bacba9;
    transition: 0.4s;
}

h2 {
    color: black;
    margin-bottom: 0;
    border-bottom: 3px solid #00241b;
}

main {
    padding-left: 20px;
    padding-right: 20px;
}

ul li {
    list-style: none;
    list-style-position: inside;
}

footer {
    border-top: solid #00241b;
    padding: 20px 20px;
    text-align: right;
    margin-top: auto;
    background-color: #00241b;
    box-shadow: var(--menuBoxShadow, 0 1px 5px 0 rgba(0, 0, 0, .20), 0 1px 8px 0 rgba(0, 0, 0, .60));
}