html {
    font-family: sans-serif;
    background-image: url("87d1bf74-thumb_30996_point_of_interest_bigger.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

body {
    margin: 0% 20%;
    height: 100%;
    background-color: #bacba9;
    color: #000;
    border-left: solid #333;
    border-right: solid #333;
}

header {
    background-color: #243119;
    padding: 20px 0px 0px;
}

h1 {
    padding: 0px 20px;
    margin: 10px 0px;
    color: white;
}

main {
    padding-left: 20px;
}

footer {
    border-top: solid black;
    padding: 20px 20px;
}

/* 7d8ca3  */