<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}">
    </head>
    <body>
        <header>
            <h1>Shade in the Borders</h1>
            <nav>
                <ul class="navbar">
                    <li><a href="/admin">Home</a></li>
                    <li><a href="/view_orders">View orders</a></li>
                    <li><a href="/add_stock">Add stock</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {%block content%}
            {%endblock%}
        </main>
    </body>
    <footer>
        <a href="/">Return to customer view</a>
    </footer>
</html>