{% extends "admin_base.jinja" %} {% block content %}
<h2>Orders</h2>
<div class="grid-container">
    {% for order in orders %}
        <ul class="grid-item">
            <li>Order ID: <strong>{{ order.id }}</strong></li>
            <li>Frame: <strong>{{ order.frame.style }}</strong></li>
            <li>Size: <strong>{{ order.frame.size }}</strong></li>
            <li>Fabric: <strong>{{ order.fabric.pattern }}</strong></li>
            <li>Customer name:<br><strong>{{ order.customer.first_name }} {{ order.customer.last_name }}</strong></li>
            <li>
                <form name="remove_frame" action="order_delete_order/{{ order.id }}" method="post">
                    <button type="submit">Delete order</button>
                </form>
            </li>
        </ul>
    {% endfor %}
</div>
{% endblock %}