{% extends "admin_base.jinja" %} {% block content %}
<h2 class="add-stock-container">Current stock:</h2>
    <h3>Frames:</h3>
    {% if frames|length == 0 %}
    <p>There are currently no frames in stock</p>
    {% endif %}
        <div class="frame-container">
            {% for frame in frames %}
                <ul class="frame">
                    <li>Frame style: <strong>{{ frame.style }}</strong></li>
                    <li>Frame size: <strong>{{ frame.size }}</strong></li>
                    <li>Metres of fabric<br>required: <strong>{{ frame.metres_required }}</strong></li>
                    <li>Number in stock: 
                        <form name="update_frame_stock" action="update_frame_stock/{{ frame.id }}" method="post">
                            <input type="number" name="update_frame_stock" value="{{ frame.stock_level }}"/><br>
                            <button type="submit">Update stock</button>
                        </form>
                        <form name="remove_frame" action="frame/delete/{{ frame.id }}" method="post">
                            <button type="submit">Remove from stock</button>
                        </form>
                    </li>
                </ul>
            {% endfor %}
        </div>
        <div class="add-stock">
            <h3>Add new frame:</h3>
            <form name="add_frame" action="add_frame" method="post">
                <label for="frame_style">Style:</label>
                <input type="text" name="frame_style" id="frame_style" required="yes"/><br>

                <label for="frame_size">Size:</label>
                <input type="text" name="frame_size" id="frame_size" required="yes"/><br>

                <label for="frame_stock">Stock:</label>
                <input type="number" name="frame_stock" id="frame_stock" required="yes"/><br>

                <label for="metres_required">Metres of fabric required:</label>
                <input type="number" step="0.01" name="metres_required" id="metres_required" required="yes"/><br>

                <button type="submit">Add to stock</button>
            </form>
        </div>
    <h3 class="fabric-container">Fabrics:</h3>
    {% if fabrics|length == 0 %}
    <p>There are currently no fabrics in stock</p>
    {% endif %}
        <div class="fabric-container">
            {% for fabric in fabrics %}
                <ul class="fabric">
                    <li>Fabric pattern: <strong>{{ fabric.pattern }}</strong></li>
                    <li>Metres in stock:
                        <form name="update_fabric_stock" action="update_fabric_stock/{{ fabric.id }}" method="post">
                            <input type="number" name="update_fabric_stock" step="0.01" value="{{ fabric.metres_in_stock }}"/>
                            <button type="submit">Update stock</button>
                        </form>
                    </li>
                    <li>
                        <form name="remove_frame" action="fabric/delete/{{ fabric.id }}" method="post">
                            <button type="submit">Remove from stock</button>
                        </form>
                    </li>
                </ul>
            {% endfor %}
        </div>
        <div class="add-stock">
        <h3>Add new fabric:</h3>
            <form name="add_fabric" action="add_fabric" method="post">
                <label for="fabric_pattern">Pattern</label>
                <input type="text" name="fabric_pattern" id="fabric_pattern" required="yes"/><br>

                <label for="metres_in_stock">Metres in stock:</label>
                <input type="number" name="metres_in_stock" id="metres_in_stock" required="yes"/><br>

                <button type="submit">Add to stock</button>
            </form>
        </div>
{% endblock %}