{% extends "admin_base.jinja" %} {% block content %}
<h1>Shade in the Borders</h1>
<p>Beautifully handcrafted lampshades made in the Scottish Borders, matching cushions available.<br>
Choose from one of our designs or a fabric of your choice. Made to order service available.</p>
{% endblock %}