<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/my_orders">My orders</a></li>
                    <li><a href="/make_new_order">Make new order</a></li>
                </ul>
            </nav>
            <hr>
        </header>
        {%block content%}
        {%endblock%}
    </body>
    <hr>
    <footer>
        
    </footer>
</html>