<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='orders.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='input_pages.css')}}">
    </head>
    <body>
        <header>
            <a href="/"><h1>Shade in the Borders</h1></a>
            <nav class="menu">
                <ul class="menu__list r-list">
                    <li class="menu__group"><a href="/" class="menu__link r-link text-underlined">Home</a></li>
                    <li class="menu__group"><a href="/my_orders/2" class="menu__link r-link text-underlined">My orders</a></li>
                    <li class="menu__group"><a href="/make_new_order" class="menu__link r-link text-underlined">New order</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {%block content%}
            {%endblock%}
        </main>
    </body>
    <footer>
        <a href="/admin">Log in as admin</a>
    </footer>
</html>