{% extends "customer_base.jinja"%} {% block content %}
<p>Beautifully handcrafted lampshades made in the Scottish Borders, matching cushions available.</p>
<p>Choose your lampshade from our variety of styles and fabrics.</p>
{% endblock %}