{% extends 'customer_base.jinja' %} {% block content %}
{% if out_of_stock == True %}
<p>Sorry, your order is not in stock.</p>
{% endif %}
<h1>Make new order:</h1>

    <form name='make_new_order' action='make_new_order' method='post'>
        <legend>Frame style and size:</legend>    
            <div class="radio">
                {% for style, frame in frames | groupby('style') %}
                    <input type='radio' name='frame_style' id='{{ style }}' value='{{ style }}' required="yes"/>
                    <label for='{{ style }}'>{{ style }}</label>
                {% endfor %}<br>
            </div>
            <div class="radio">
                <input type="radio" name="frame_size" id="frame_size1" value="S" required="yes"/>
                <label for='frame_size1'>S</label>               
                <input type="radio" name="frame_size" id="frame_size2" value="M"/>
                <label for='frame_size2'>M</label>
                <input type="radio" name="frame_size" id="frame_size3" value="L"/>
                <label for='frame_size3'>L</label>
            </div>
        <legend>Fabric pattern:</legend>
            <div class="radio">
                {% for fabric in fabrics %}
                    <input type='radio' name='fabric_pattern' id='{{ fabric.id }}' value='{{ fabric.id }}' required="yes"/>
                    <label for='{{ fabric.id }}'>{{ fabric.pattern }}</label>
                {% endfor %}
            </div>
        <button type='submit'>Place order</button>
    </form>
{% endblock %}