{% extends 'base.jinja' %} {% block content %}
<form name='make_new_order' action='make_new_order' method='post'>
    <h3>Please choose a frame:</h3>    
        {% for frame in frames %}
            <label for='frame_style'>{{ frame.style }}:</label>
            <input type='radio' name='frame_style' id='frame_style' value='{{frame.id}}'/>
        {% endfor %}
    <h3>Please choose a fabric:</h3>
        {% for fabric in fabrics %}
            <label for='fabric_pattern'>{{ fabric.pattern }}:</label>
            <input type='radio' name='fabric_pattern' id='fabric_pattern' value='{{fabric.id}}'/>
        {% endfor %}
    <input type='submit' value='Place order'/>
</form>
{% endblock %}