{% extends "customer_base.jinja" %} {% block content %}
<h2>My orders</h2>
{# {% if orders|length == 0 %}
<p>No orders to show.</p>
{% endif %} #}
<div class="grid-container">
    {% for order in orders %}
        <ul class="grid-item">
            <li>Order ID: <strong>{{ order.id }}</strong></li>
            <li>Frame: <strong>{{ order.frame.style }}</strong></li>
            <li>Frame size: <strong>{{ order.frame.size }}</strong></li>
            <li>Fabric: <strong>{{ order.fabric.pattern }}</strong></li>
        </ul>
    {% endfor %}
</div>
{% endblock %}