{% extends "customer_base.jinja" %} {% block content %}
<h1>My orders</h1>
<ul>
    {% for order in orders %}
        <li>Order ID: {{ order.id }}</li>
        <li>Frame style: {{ order.frame.style }}</li>
        <li>Frame size: {{ order.frame.size }}</li>
        <li>Fabric: {{ order.fabric.pattern }}</li>
    {% endfor %}
</ul>
{% endblock %}